<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.onload = function(){
            let socket = io.connect();
            let widthCount = 1;

            socket.on('watch', (data)=>{
                const { pixelRed, pixelGreen} = data;
                console.log(`red: ${pixelRed}, green: ${pixelGreen}`)
                // Plotly.extendTraces('chart',{y:[[lightData],[]]}, [0,1]);
                // widthCount++;

                // if(widthCount > 100){
                //     Plotly.relayout('chart', {
                //         xaxis:{
                //             range:[widthCount -99, widthCount]
                //         }
                //     })
                // }
            })

            document.getElementById('start').onclick = function(){
                let text = document.getElementById('start').value;
                socket.emit('startmsg', text);
            }
            document.getElementById('stop').onclick = function(){
                let text = document.getElementById('start').value;
                socket.emit('stopmsg', text);
            }
        }
    </script>
    <title>조도센서 모니터링</title>
</head>
<body>
    <h2>조도센서 아날로그 측정</h2>
    <hr>
      <input type="button" id="start" value="측정 가동">
      <input type="button" id="stop" value="측정 중지">  
    </hr>
    <div id="chart">
        <script>
            let lightValue = {y:[0], name: 'Light', type:'line', marker:{color:"rgb(255,0,0)"},
                                line:{shape:'spline'}};
            Plotly.plot('chart', [lightValue]);
        </script>
    </div>
</body>
</html>